.HomePageBody {
  min-height: 99vh;
  width: 99vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SideBarLinksContainer {
  /* border: 1px solid black; */
  background-color: beige;
  min-width: 75px;
}

/*
.RecommendedVideosContainer {
  border: 1px solid black;
  background-color: palegoldenrod;
} */

.RecommendedVideos {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}

.VideoCardOuter {
  border-bottom: 6px solid rgb(60, 60, 60, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  height: 380px;
  width: 375px;


}

.VideoCardInner {
  /* border: 1px solid red; */
  height: 320px;
  width: 360px;

}

.UpperVideoCard {
  /* border: 1px solid black; */
  height: 210px;
  width: 100%;
  /* object-fit: contain; */
  /* overflow: hidden; */

}

.VideoCardThumbnail {
  object-fit: fill;
  height: 210px;
  width: 355px;
  border: rgb(10, 10, 10, .5) 1px solid;
}

.LowerVideoCard {
  /* border: 1px solid pink; */
  margin-top: 5px;
  height: 110px;
  display: flex;
}


.VideoDetailLeft {
  /* border: 1px solid black; */
  width: 25%;
}

.VideoDetailRight {
  /* border: 1px solid black; */
  width: 75%;
}

.VideoDetailAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 10px;
}

.VideoDetailRightUpper {
  /* border: 1px solid black; */
  height: 40%;
}

.VideoDetailRightLower {
  /* border: 1px solid black; */
  height: 60%;

}

.VideoDetailTitle {
  /* border: 1px solid red; */
  padding-top: 2px;
  padding-left: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  overflow-wrap: break-word;
  max-height: 99%;
  overflow-y: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: "...";
  hyphenate-character: "...";
}

.VideoDetailOwner {
  margin-top: 8px;
  padding-left: 5px;
  font-size: 1.1rem;
}
