.UploadVideoIcon {
  cursor: pointer;
}

/* -vv- Phase 1 -vv-*/

.CreateVideoModal {
  position: absolute;
  /* top: 5%; */
  left: 25%;
  /* right: 25%; */
  width: 960px;
  height: 870px;
  background-color: white;
  z-index: 5;
  border-radius: 10px;

}

.CreateVideoHeaders {
  height: 80px;
  /* background-color: aqua; */
  border-bottom: 1px solid rgb(120, 120, 120, .5);
  /* box-shadow: 5px 5px; */
  /* filter: blur(4px); */
  /* border-radius: 8px; */
}

.CreateVideoHeaders {
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CreateVideoCloseX {
  width: 60px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 0;

}

.CreateVideoCloseX:hover {
  font-weight: 600;
}

.CreateVideoHeaderTitle {
  /* border: 1px solid aqua; */
  margin-left: 25px;
  font-size: 20px;
  font-weight: 600;
  max-width: 850px;
  overflow-wrap: break-word;
  max-height: 45px;
  overflow-y: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: "...";
  hyphenate-character: "...";

}


.UploadVideoSection {
  /* border: 1px solid aqua; */
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.UploadVideoCenter {
  position: relative;
  /* border: 1px solid red; */
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 50px;
}

.UploadVideoCenterForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.UploadVideoFormIcon {
  position: relative;
  top: 50px;
  background-color: rgba(4, 93, 248, 0.987);
  color: aliceblue;
  cursor: pointer;
}

.UploadVideoFormIcon:active {
  background-color: rgba(56, 124, 241, 0.987);
}

.UploadVideoLoading {
  position: relative;
  bottom: 200px;
  left: 50px;
}

.UploadVideoCenterErrors {
  position: relative;
  top: 80px;
  /* left: 50px; */
  color: red;
  font-size: 20px;
}









/* -vv- Phase 2 -vv-*/

.AddVideoDetailsSection {
  /* border: 1px solid aqua; */
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.AddVideoDetailsHeader {
  /* border: 1px solid orange; */
  height: 15%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddVideoDetailsBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* align-items: flex-end; */
  border-top: 1px solid rgb(120, 120, 120, .5);
}

.CreateVideoNextButton {
  background-color: rgba(4, 93, 248, 0.987);
  color: aliceblue;
  border: 0;
  border-radius: 5px;
  font-size: larger;
  font-weight: 700;
  height: 45px;
  width: 75px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.CreateVideoNextButton:active {
  background-color: rgba(56, 124, 241, 0.987);
}


.CreateVideoBackButton {
  background-color: transparent;
  color: #606060;
  border: 0;
  border-radius: 5px;
  font-size: larger;
  font-weight: 700;
  height: 45px;
  width: 75px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.CreateVideoBackButton:active {
  background-color: #979797;
  color: #313131;
}

.DetailsHeaderNodes {
  /* border: rgb(255, 0, 60) 1px solid; */
  height: 65px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.DetailsNodeLine {
  border: 1px solid rgb(169, 169, 169, .5);
  background-color: rgb(169, 169, 169, .5);
  border-radius: 500px;
  width: 250px;
  height: 1px;
}


#DetailNodeCircle {
  /* background-color: rgba(4, 93, 248, 0.987); */
  border: rgba(4, 93, 248, 0.987) 4px solid;
  padding: 2px;
  width: 15px;
  height: 15px;
  z-index: 1;
  border-radius: 100px;
  cursor: pointer;
}


.DetailsHeaderNodes :checked~label {
  background-color: rgba(4, 93, 248, 0.987);
}


.Nodes {
  display: none;
}


.AddVideoDetailsMain {
  /* border: slateblue solid 1px; */
  display: flex;
  height: 85%;
  width: 100%;
  position: relative;
}

.AddVideoDetailsMainLeft {
  /* border: aqua 1px solid; */
  position: relative;
  min-height: 100%;
  width: 60%;
}

.AddVideoDetailsMainRight {
  /* border: rgb(255, 0, 60) 1px solid; */
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  align-items: flex-start;
  justify-content: center;

}


.VideoDetailsPreview {
  /* border: 1px solid orange; */
  background-color: #f0f0f0;
  margin-top: 70px;
  height: 300px;
  width: 310px;
}

#VideoPreviewLinkName {
  color: #606060;
  margin-top: 5px;
  /* border: 1px solid orange; */
  margin-left: 5px;
  font-size: 12px;
}

#VideoPreviewLink {
  /* border: 1px solid red; */
  /* overflow-wrap: break-word; */
  height: 30px;
  width: 90%;
  margin-left: 5px;
  word-break: break-all;
  font-size: 14px;
  overflow-y: hidden;

}

#VideoPreviewFileNameLabel {
  color: #606060;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 12px;
}

#VideoPreviewFileName {
  /* border: 1px solid red; */
  margin-top: 5px;
  height: 30px;
  width: 90%;
  margin-left: 5px;
  word-break: break-all;
  font-size: 14px;
  overflow-y: hidden;
}

.AddVideoDetailsMainForm {
  /* border: 1px solid palevioletred; */
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

}


.AddVideoDetailsFormHeader {
  margin: 0;
  margin-left: 20px;
}

.AddVideoTitleDiv {
  position: relative;
  margin-top: 45px;
  border: 1px solid rgb(100, 100, 100, .5);
  min-height: 100px;
  width: 95%;
  z-index: 1;
  border-radius: 5px;
  overflow: visible;

}

.AddVideoTitleInput {
  /* position: relative; */
  /* border: 1px solid rgb(100, 100, 100, .5); */
  width: 95%;
  min-height: 73%;
  border: 0;
  z-index: -1;
  outline: 0;
  /* margin-left: px; */
  font-family: "Roboto", "Arial", "sans-serif";
  color: black;
  /* overflow: visible; */
}

.TitleLengthCheck {
  position: absolute;
  /* bottom: 5px; */
  left: 480px;
  /* z-index: -1; */
}

.AddVideoTitleInput:out-of-range {
  background-color: aqua;
}


.AddVideoTitleHeader {
  /* color: aqua; */
  margin-top: 2px;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.AddVideoTitleDiv:focus-within {
  border-color: rgba(4, 93, 248, 0.987);
}

.AddVideoTitleHeader:focus-within {
  color: rgba(4, 93, 248, 0.987);
}



.AddVideoDescriptionDiv {
  position: relative;
  margin-top: 35px;
  border: 1px solid rgb(100, 100, 100, .5);
  height: 170px;
  width: 95%;
  z-index: 1;
  border-radius: 5px;
}

.AddVideoDescriptionInput {
  width: 95%;
  height: 73%;
  border: 0;
  z-index: -1;
  outline: 0;
  /* margin-left: 10px; */
  font-family: "Roboto", "Arial", "sans-serif";
  color: black;
}

.AddVideoDescriptionHeader {
  /* color: aqua; */
  margin-top: 2px;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.AddVideoDescriptionDiv:focus-within {
  border-color: rgba(4, 93, 248, 0.987);
}

.AddVideoDescriptionHeader:focus-within {
  color: rgba(4, 93, 248, 0.987);
}

.DescriptionLengthCheck {
  position: absolute;
  bottom: -18px;
  left: 470px;
  /* z-index: -1; */
}










/* -vv- Phase 3 -vv-*/

.AddVideoThumbnailSection {
  /* border: 1px solid aqua; */
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}


.AddVideoThumbnailMain {
  /* border: slateblue solid 1px; */
  display: flex;
  height: 85%;
  width: 100%;
  position: relative;
}


.AddVideoThumbnailHeader {
  /* border: 1px solid orange; */
  height: 15%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddVideoThumbnailMainRight {
  height: 100%;
  /* border: 1px solid green; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.AddVideoThumbnailMainLeft {
  height: 100%;
  /* border: 1px solid goldenrod; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UploadThumbnailCenterForm {
  /* border: 1px solid red; */
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.ThumbnailWarning {
  width: 350px;
  text-align: center;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

.ThumbnailPreview {
  /* object-fit: fill; */
  height: 190px;
  width: 315px;
  border: rgb(10, 10, 10, .5) 1px solid;
}






/* -vv- Phase 4 -vv-*/
.VideoPreviewSection {
  /* border: 1px solid aqua; */
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}

.VideoPreviewHeader {
  /* border: 1px solid orange; */
  height: 15%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.VideoPreviewMain {
  border: slateblue solid 1px;
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 100%;
  position: relative;
}

.VideoPreviewMainHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid black; */
  height: 15%;
  width: 100%;
}

.VideoPreviewMainMiddle {
  /* border: 1px solid orange; */
  height: 75%;
  display: flex;
  justify-content: center;
}

.VideoPreviewMainErrors {
  /* border: 1px solid red; */
  padding-top: 8px;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
}


.VideoPreviewContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 100%;
}


.VideoPreviewDemoLeft {
  /* border: red 1px solid; */
  height: 100%;
  width: 75%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.VideoPreviewDemoRight {
  background-color: #e7e7e762;
  /* border: blue 1px solid; */
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.VideoPreviewSamples {
  border: 1px solid black;
  background-color: #d3cfcf67;
  height: 55px;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-size: larger;

}

.VideoPreviewDemoVideo {
  width: 430px;
  border: 2px solid black;

}

.VideoPreviewDemoDetails {
  width: 100%;
  height: 225px;
  /* border: 1px solid salmon; */
}

.VideoPreviewDemoTitle {
  border: 1px solid rgb(120, 120, 120, .8);
  margin-top: 5px;
  /* margin-bottom: 5px; */
  font-size: 19px;
  height: 25px;
  width: 100%;
  word-break: break-all;
  overflow-y: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: "...";
  hyphenate-character: "...";
}


.VideoPreviewDemoDescription {
  border: 1px solid rgb(120, 120, 120, .8);
  font-size: 10px;
  /* margin-top: 5px; */
  margin-bottom: 5px;
  /* border-bottom: 1px solid rgb(120, 120, 120, .5); */
  height: 65px;
  width: 100%;
  word-break: break-all;
  overflow-y: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: "...";
  hyphenate-character: "...";
}

.VideoPreviewDemoComments {
  background-color: #e7e7e762;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: larger;
  height: 110px;
  width: 100%;

}

.VideoPreviewDemoSingleComment {
  border: 1px solid rgba(0, 0, 0, 0.288);
  background-color: #d3cfcf67;
  width: 99%;
  height: 25%;
  text-align: center;
  font-size: 15px;
}

.CreateVideoConfirmButton {
  background-color: rgba(4, 93, 248, 0.987);
  color: aliceblue;
  border: 0;
  border-radius: 5px;
  font-size: larger;
  font-weight: 500;
  height: 45px;
  width: 95px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

.CreateVideoConfirmButton:active {
  background-color: rgba(56, 124, 241, 0.987);
}
