/* TODO Add site wide styles */
body {
  font-family: "Roboto", "Arial", "sans-serif";
  margin: 0;
  /* overflow: hidden; */
  /* background-color: #f9f9f9; */
}

#root {
  /* border: black 1px solid; */
  margin: 0;
  /* min-height: 1000px; */
  min-height: 99vh;
  min-width: 99vw;
  /* max-width: 2500px;
  max-height: 1500px; */
  /* min-width: 2280px; */
  display: flex;
  flex-direction: column;
  position: relative;
}

a {
  color: black;
  text-decoration: none;
}

#ModalBackground {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, .5);
  /* overflow: hidden; */
}

textarea {
  resize: none;
}
