.UploadVideoIcon {
  cursor: pointer;
}

/* -vv- Phase 1 -vv-*/

.CreateVideoModal {
  position: absolute;
  /* top: 5%; */
  left: 25%;
  /* right: 25%; */
  width: 960px;
  height: 870px;
  background-color: white;
  z-index: 5;
  border-radius: 10px;

}

.CreateVideoHeaders {
  height: 80px;
  /* background-color: aqua; */
  border-bottom: 1px solid rgb(120, 120, 120, .5);
  /* box-shadow: 5px 5px; */
  /* filter: blur(4px); */
  /* border-radius: 8px; */
}

.CreateVideoHeaders {
  /* border: 1px solid aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CreateVideoCloseX {
  width: 60px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 0;

}

.CreateVideoCloseX:hover {
  font-weight: 600;
}

.CreateVideoHeaderTitle {
  /* border: 1px solid aqua; */
  margin-left: 25px;
  font-size: 20px;
  font-weight: 600;
  max-width: 850px;
  overflow-wrap: break-word;
  max-height: 45px;
  overflow-y: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: "...";
  hyphenate-character: "...";

}


.UploadVideoSection {
  /* border: 1px solid aqua; */
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


.UploadVideoCenter {
  position: relative;
  /* border: 1px solid red; */
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 50px;
}

.UploadVideoCenterForm {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}

.UploadVideoFormIcon {
  position: relative;
  top: 50px;
}

.UploadVideoLoading {
  position: relative;
  bottom: 200px;
  left: 50px;
}

.UploadVideoCenterErrors {
  position: relative;
  top: 80px;
  /* left: 50px; */
  color: red;
  font-size: 20px;
}





/* -vv- Phase 2 -vv-*/

.AddVideoDetailsSection {
  /* border: 1px solid aqua; */
  height: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.AddVideoDetailsHeader {
  /* border: 1px solid orange; */
  height: 15%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



.DetailsHeaderNodes {
  /* border: rgb(255, 0, 60) 1px solid; */
  height: 65px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.DetailsNodeLine {
  border: 1px solid rgb(169, 169, 169, .5);
  background-color: rgb(169, 169, 169, .5);
  border-radius: 500px;
  width: 250px;
  height: 1px;
}


#DetailNodeCircle {
  /* background-color: rgba(4, 93, 248, 0.987); */
  border: rgba(4, 93, 248, 0.987) 4px solid;
  padding: 2px;
  width: 15px;
  height: 15px;
  z-index: 1;
  border-radius: 100px;
  cursor: pointer;
}


.DetailsHeaderNodes :checked~label {
  background-color: rgba(4, 93, 248, 0.987);
}


.Nodes {
  display: none;
}


.AddVideoDetailsMain {
  /* border: slateblue solid 1px; */
  display: flex;
  height: 85%;
  width: 100%;
  position: relative;
}

.AddVideoDetailsMainLeft {
  /* border: aqua 1px solid; */
  position: relative;
  min-height: 100%;
  width: 60%;
}

.AddVideoDetailsMainRight {
  /* border: rgb(255, 0, 60) 1px solid; */
  position: relative;
  height: 100%;
  width: 40%;

}

.AddVideoDetailsMainForm {
  /* border: 1px solid palevioletred; */
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

}


.AddVideoDetailsFormHeader {
  margin: 0;
  margin-left: 20px;
}

.AddVideoTitleDiv {
  position: relative;
  margin-top: 45px;
  border: 1px solid rgb(100, 100, 100, .5);
  min-height: 100px;
  width: 95%;
  z-index: 1;
  border-radius: 5px;
  overflow: visible;

}

.AddVideoTitleInput {
  /* position: relative; */
  /* border: 1px solid rgb(100, 100, 100, .5); */
  width: 95%;
  min-height: 73%;
  border: 0;
  z-index: -1;
  outline: 0;
  /* margin-left: px; */
  font-family: "Roboto", "Arial", "sans-serif";
  color: black;
  /* overflow: visible; */
}

.TitleLengthCheck {
  position: absolute;
  /* bottom: 5px; */
  left: 480px;
  /* z-index: -1; */
}

.AddVideoTitleInput:out-of-range {
  background-color: aqua;
}


.AddVideoTitleHeader {
  /* color: aqua; */
  margin-top: 2px;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.AddVideoTitleDiv:focus-within {
  border-color: rgba(4, 93, 248, 0.987);
}

.AddVideoTitleHeader:focus-within {
  color: rgba(4, 93, 248, 0.987);
}



.AddVideoDescriptionDiv {
  position: relative;
  margin-top: 35px;
  border: 1px solid rgb(100, 100, 100, .5);
  height: 170px;
  width: 95%;
  z-index: 1;
  border-radius: 5px;
}

.AddVideoDescriptionInput {
  width: 95%;
  height: 73%;
  border: 0;
  z-index: -1;
  outline: 0;
  /* margin-left: 10px; */
  font-family: "Roboto", "Arial", "sans-serif";
  color: black;
}

.AddVideoDescriptionHeader {
  /* color: aqua; */
  margin-top: 2px;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.AddVideoDescriptionDiv:focus-within {
  border-color: rgba(4, 93, 248, 0.987);
}

.AddVideoDescriptionHeader:focus-within {
  color: rgba(4, 93, 248, 0.987);
}

.DescriptionLengthCheck {
  position: absolute;
  bottom: -18px;
  left: 470px;
  /* z-index: -1; */
}
