.HomePageBody {
  /* border: 1px solid yellow; */
  position: relative;
  top: 50px;
  /* left: 50px; */
  min-height: 99vh;
  max-width: 99vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #f9f9f9; */
}

.SideBarLinksContainer {
  /* border: 1px solid black; */
  background-color: white;
  width: 75px;
  height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 2;
  top: 50px;
}


.RecommendedVideosContainer {
  position: relative;
  /* border: 1px solid orange; */
  left: 30px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 98.5%;
  /* height: 100%; */
}

.RecommendedVideos {
  /* border: 1px solid black; */
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  /* flex: 1; */
}


.VideoCardOuter {
  /* border-bottom: 4px solid rgb(160, 160, 160, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 360px;
  width: 335px;
  flex: 1; */
  margin: 10px 5px;


}

.VideoCardInner {
  /* border: 1px solid red; */
  height: 310px;
  width: 360px;


}

.VideoCardInner:hover {
  background-color: #e6e6e68c;
}

.UpperVideoCard {
  /* border: 1px solid black; */
  height: 200px;
  width: 100%;
  /* object-fit: contain; */
  /* overflow: hidden; */

}

.VideoCardThumbnail {
  object-fit: fill;
  height: 200px;
  width: 355px;
  /* border: rgb(10, 10, 10, .5) 1px solid; */
}

.LowerVideoCard {
  /* border: 1px solid pink; */
  margin-top: 5px;
  height: 110px;
  display: flex;
}


.VideoDetailLeft {
  /* border: 1px solid black; */
  width: 20%;
}

.VideoDetailRight {
  /* border: 1px solid black; */
  width: 80%;
}

.VideoDetailAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
  margin: 10px;
}

.VideoDetailRightUpper {
  /* border: 1px solid black; */
  max-height: fit-content;
}

.VideoDetailRightLower {
  /* border: 1px solid black; */
  height: 60%;

}

.VideoDetailTitle {
  /* border: 1px solid red; */
  padding-top: 2px;
  padding-left: 5px;
  font-size: 1rem;
  font-weight: 700;
  overflow-wrap: break-word;
  max-height: 80%;
  overflow-y: hidden;
  hyphens: auto;
  -webkit-hyphenate-character: "...";
  hyphenate-character: "...";
}

.VideoDetailOwner {
  margin-top: 8px;
  padding-left: 5px;
  font-size: 1rem;
  color: rgb(77, 77, 77);
}
